body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight:400, 500, 700;
    font-display: swap;
    color: #434455;
    background-color:#fff
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto";
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container {
 width: 1158px;
 padding: 0 15px;
 margin: 0 auto;
}

.section {
padding: 120px 0;
}

.header {
border-bottom: 1px solid #e7e9fc;
}

.heder-container {
display: flex;
align-items: center;
}

.navigation {
display: flex;
align-items: center;    
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    margin-right: 76px;
}

.accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-list {
display: flex;
gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    width: calc((100%-72px) / 4);

}

.link:hover,
.link:focus {
color: #404BBF;
}

.link:active {
color: #2E2F42;
}

.address {
font-style: normal;
margin-left: auto;
}

.address-list {
display: flex;
gap: 40px;
}

.address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #434455;
}

.address:hover,
.address:focus {
    color: #404BBF
}

.address:active {
    color: #434455;
}

.box-model {
background: #2e2f42;
padding: 188px 0;
margin-right: auto;
margin-left: auto;
}

.box-service {
display: inline;
align-items: center;
}

.title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #fff;
max-width: 496px;
margin: 0 auto;
}


.button  {
font-family: "Roboto", sans-serif;
font-weight: 500;
background-color: #4d5ae5;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
display: block;
align-items: center;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
cursor: pointer;
margin: 48px auto 0;
}

.button:hover 
.button:focus {
background-color: #404BBF;
}

.button:active {
background-color: #4D5AE5;
}

.advantages-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-section {
padding: 120px 0 120px;
}

.advantages-list {
display: flex;
gap: 24px;
}


.advantages {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 0;
width: calc((100% - 72px) / 4);
}

.advantages-text {
font-weight: 400;
font-size: 16px;
 line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-top: 8px;
}

.our-team {
color: #2e2f42;
background: #f4f4fd;
padding: 120px 0;
}

.list-img {
display: block;
}

.team-text {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.team-list {
display: flex;
align-items: center;
gap: 24px;
padding-top: 72px;
margin-bottom: 0;
max-width: 264px;
max-height: 380px;
padding-bottom: 120px;
width: calc((100% - 72px) / 4);
}

.team-images {
color:#2e2f42;
background-color: #FFFFFF;
}


.team-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
}

.team-profession {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}

.portfolio {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
background-color: #FFFFFF;
}

.portfolio-list {
display: flex;
flex-wrap: wrap;
margin-top: 72px;
}

.portfolio-item {
padding-left: 0;
margin: 0;
}


.portfolio-projects {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-projects-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
background-color: #FFFFFF
}

.background {
background: #2e2f42;
margin-top: 120px;
width: 100%;
height: 312px;
}

.footer-info {
display: block;
padding-top: 100px;

}

.accent-logo {
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #f4f4fd;

}

.promotion {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
margin-top: 16px;
padding-bottom: 100px;
width: 264px;
height: 72px;
}


